@CHARSET "UTF-8";
body{
	background-color: Black;
	color: White;
}

h1{
	font-size: 22px;
	text-align: center;
	vertical-align: middle;
}
i{
	font-size: 12px;
}
.questao{
	clear: both;
	padding: 10px;
	width: 800px;
	height: 120px;
	background-color: #333;
	border: solid 1px #EDEDED;
	border-radius: 4px;
	float: left;
	margin: 10px;
	color: LightBlue;
	overflow: auto;	
}
.resposta{
	clear: both;
	padding: 10px;
	width: 800px;
	height: 120px;
	background-color: Blue;
	border: solid 1px #EDEDED;
	border-radius: 4px;
	float: left;
	margin: 10px;
	color: #FFF;
	overflow: auto;	
}
.voltar{
	width: 80px;
	text-align: center;
	height: 20px;
	padding: 4px;
	cursor: pointer;
	background-color: #FFF;
	color: Blue;
}

.voltar:hover{
	background-color: Blue;
	color: #FFF;;
}

.tasknav{
	position: relative;
	width: 100%;
	height: 30px;
	background-color: #777;
	color: #FFF;
	
}

.tasknavitem{
	float: left;
	margin-left: 10px;
	height: 30px;
	cursor: pointer;
	line-height: 30px;
	vertical-align: middle;
	border-right: #FFF;
	padding-left: 8px;
	padding-right: 8px;
}
.tasknavitem:hover{
	color: Yellow;	
	background-color: #999;
}

.taskcontainer{
	width: 100%;
	
}
.msgbox{
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.7);
	z-index: 4000;
}
.innermsgbox{
	position: relative;
	display: inline-block;
	padding: 10px;
	background-color: #FFF;
	border: solid 3px  #0A9CB8;
	border-radius: 8px;
	top: 50%;
	left: 50%;
	width: 450px;
	height: 80px;
	margin-left: -225px;
	margin-top: -50px;
	text-align: center;
	vertical-align: middle;
}

.taskitem{
	float: left;
	margin: 10px;
	width: 200px;
	height: 80px;
	border: solid 1px #FFF;
	border-radius: 4px;
	box-shadow: 1px 1px 1px #EDEDED;
	background-color: #333;
	cursor: pointer;
}

.taskitem strong{
	color: LightBlue;
	width: 100%;
	text-align: center;
	display: block;
	clear: both;
}